@import "tailwindcss";

@layer base {
  :root {
    --color-primary: #2563eb;
    --color-primary-hover: #2563eb;
    --color-secondary: #ef4444;
    --color-secondary-hover: #ef4444;
    --color-tertiary: #f59e0b;
    --color-tertiary-hover: #f59e0b;

    --color-forground: #2563eb;
    --color-background: #2563eb;
  }
}
