@import "tailwindcss";

@theme {
  --color-primary: #2563eb;
  --color-primary-hover: #2563eb;
  --color-secondary: #ef4444;
  --color-secondary-hover: #ef4444;
  --color-tertiary: #f59e0b;
  --color-tertiary-hover: #f59e0b;

  /* very light grey */
  --color-forground: #f1f5f9;
  /* very dark grey */
  --color-background: #1e293b;
}
